.bottom-nav{
    height: 110px;
    position: fixed;
    width: 100vw;
    bottom: 0;
    background-color: white;
}
.bottom-nav-item{
    width: 20%;
    height: 100%;
    padding:0px 20px;
}
.bottom-nav-item span{
    font-size: 28px;
}
.bottom-nav-item div{
    height: 100%;
    width: 100%;
    padding-top: 10px;
}

.icon-main{

}
.icon-chat{

}
.icon-shopCar{

}
.icon-mine{

}
.icon-main-active{

}
.icon-chat-active{

}
.icon-shopCar-active{

}
.icon-mine-active{

}