.bottom-nav{
    height: 110px;
    position: absolute;
    width: 100vw;
    bottom: 0;
    background-color: white;
    border-top: gray solid 1px;
    z-index: 1000;
}
.bottom-nav-item{
    width: 25%;
    height: 100%;
    padding:0px 20px;
}
.bottom-nav-item span{
    font-size: 24px;
    padding-bottom: 10px;
}
.bottom-nav-item div{
    height: 100%;
    width: 100%;
    padding-top: 10px;
}
.bottom-nav-item div>img{
    width: 48px;
}