.flexBox{
    display: flex;
}
.center{
    align-items: center;
    justify-content: center;
}
.spece-around{
    align-items: center;
    justify-content: space-around;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}