body {
	height: 100vh;
}
button {
	cursor: pointer;
}
.animate_bounce_down{
	position: absolute;
	z-index: 10000;
	/* width: 200px; */
   /* height: 30px; */
   /* font-size: 28px; */
   font-size: 0px;
   color: #ff2741;
   bottom: 85px;
   left: 400px;
	/* background-color: #3190e8; */
	overflow: hidden;
	-webkit-animation: bounce_down 1s linear;
	animation: bounce_down 1s linear;
}

@-webkit-keyframes bounce_down {
	15% {
      -webkit-transform: translateY(-20px);
      font-size: 14px;
	}
	25% {
		-webkit-transform: translateY(-30px);
      font-size: 24px;
      font-weight: bold;
	}
	50% {
		-webkit-transform: translateY(-50px);
		-webkit-transform: translateX(10px);
      font-size: 32px;
	}
	90% {
		-webkit-transform: translateY(-80px);
		-webkit-transform: translateX(40px);
      font-size: 48px;
      font-weight: bold;
	}
	100% {
		-webkit-transform: translateY(-85px);
		-webkit-transform: translateX(10px);
      font-size: 0px;
	}
}
@keyframes bounce_down {
	15% {
      -webkit-transform: translateY(-20px);
      font-size: 14px;
	}
	25% {
		transform: translateY(-30px);
      font-size: 24px;
      font-weight: bold;
	}
	50% {
		transform: translateY(-50px);
		transform: translateX(10px);
      font-size: 32px;
	}
	90% {
		transform: translateY(-80px);
		transform: translateX(40px);
      font-size: 48px;
      font-weight: bold;
	}
	100% {
		transform: translateY(-85px);
		transform: translateX(10px);
      font-size: 0px;
	}
}

/** 临时增加的处理 xwj 2019-09-28 **/
.solitaireCon .soli_line{
	max-width: 600px;
	overflow: hidden;
}
.solitaireCon .soli_cont{
	max-width: 300px;
	float: left;
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.solitaireCon .soli_cont .soli_lab {
	margin-left: -10px;
	margin-right: -9px;
}
.solitaireCon .soli_coun{
	max-width: 100px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
}
.solitaireCon .soli_pric{
	/* max-width: 150px; */
	/* float: right; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.solitaireCon .span_padding{
    padding:0 4px;
}
/** TODO: 弹窗组件相关 add xwj 2020-03-19 */
.van-toast--text{
	padding: 8px 12px !important;
}
.van-toast{
	font-size: 26px !important;
	line-height: 36px !important;
	border-radius: 8px !important;
}

/** TODO: 弹窗组件相关 add xwj 2020-03-19 */
.back, .back-go{
	position: relative;
	width: 100%;
	height: 90px;
	background-color: #fff;
	text-align: center;
	line-height: 90px;
	font-size: 34px;
	border-bottom: 1px solid #eaeaea;
	z-index: 999;
}
.back .back_r, .back-go .back_r{
	float: right;
	margin-right: 10px;
}
.back .red, .back-go .red {
	color: red;
	font-size: 30px;
}
/** TODO: 滚动条相关 */
::-webkit-scrollbar {
	width: 1px;
	background-color: transparent;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: transparent;
}
::-webkit-scrollbar-button {
	background-color: transparent;
}
::-webkit-scrollbar-corner {
	background-color: transparent;
}
::-webkit-scrollbar:hover {
	width: 1px;
	background-color: transparent;
}
::-webkit-scrollbar-track:hover {
	background-color: transparent;
}
::-webkit-scrollbar-thumb:hover {
	background-color: transparent;
}
::-webkit-scrollbar-button:hover {
	background-color: transparent;
}
::-webkit-scrollbar-corner:hover {
	background-color: transparent;
}
::-webkit-scrollbar:active {
	width: 1px;
	background-color: transparent;
}
::-webkit-scrollbar-track:active {
	background-color: transparent;
}
::-webkit-scrollbar-thumb:active {
	background-color: transparent;
}
::-webkit-scrollbar-button:active {
	background-color: transparent;
}
::-webkit-scrollbar-corner:active {
	background-color: transparent;
}
/** 据说是针对ios-placeholder居中 */
input::-webkit-input-placeholder {
	line-height: normal;
}

 .van-dialog{
	width: 440px !important;
}
.van-dialog__message{
	font-size: 30px !important;
	line-height: 50px !important;
}

.van-button--large {
	height: 80px !important;
}
.van-button {
	font-size: 30px !important;
	font-weight: 500 !important;
}
/** 
 * 目标针对scroll的等待效果
 */
.spinner-holder{
	opacity: 0 !important;
}

.img_gray{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
