dl,dt,dd{
	padding:0;
	margin:0;
}
.chat-msg-empty{
	position: absolute;
	width: 640px;
	height: 40px;
	top: 50%;
	left: 50%;
    margin-left: -320px;
    margin-top: -20px;
	text-align: center;
}
.chat-msg-empty span{
	font-size: 34px;
	color: #666;
	line-height: 40px;
	padding: 0 25px;
}

.gaodu{
    width: 100%;
	/* 80, 40 */
	height: 100vh;
	overflow:hidden;
}
.gaodu .van-list{
	height: 100%;
}

.loading-more{
	text-align: center;
	padding-top: 30px;
}
.loading-more img{
	width: 30px;
	height: 30px;
}
.loading-more-txz img{
    width:60px;
    height: 60px;
}

.translate-top{
	transform: translateY(-400px);
}

.s_c_b_send_btn {
    width: 48px;
    height: 48px;
    margin-right: 15px;
}
.s_c_b_i_ico {
    width: 48px;
    height: 48px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.ico_keyboard {
    background-image: url("../social/keyboard.png");

}
.ico_voice {
    background-image: url("../social/voice.png");
}

.chat-content{
    width: 100%;
	box-sizing: border-box;
	padding:0 20px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height: 100vh;
	background-color:#eaeaea;
	padding-bottom: 300px;
	padding-top: 20px;
}

/* 发送消息模块 */
.oper-cover {
    position: fixed;
    width: 100%;
    padding-bottom: 56px;
    background-color: #f6f6f6;
    z-index: 3;
}

.oper-top-wrp {
    display: flex;
    align-items: center;
    padding: 17px 19px;
    /* border-top:#e5e5e5 solid 1px; */
}

.oper-input-wrp {
    position: relative;
    margin-right: 16px;
    flex-grow: 1;
    overflow: hidden;
    top:5px;
}

.oper-input-wrp textarea {
    // width: 100%;
    // height: 100%;
    // /* min-height:73px; */
    // min-height:68px;
    // padding: 10px;
    // box-sizing: border-box;
    // font-size: 36px;
    // line-height: 50px;
    // background-color: #ffffff;
    // border-radius: 10px;	
    width: 100%;
    // height: 100%;
    height: 73px;
    max-height: 219px!important;
    padding: 10px 0;
    box-sizing: border-box;
    font-size: 30px;
    line-height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    border:none;
    resize:none
}
.oper-input-wrp input {
    width: 100%;
    height: 100%;
    min-height: 73px;
    padding: 10px 0;
    box-sizing: border-box;
    font-size: 30px;
    line-height: 50px;
    background-color: #ffffff;
    border-radius: 10px;				
}
.oper-input-wrp button{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    box-sizing: border-box;
    user-select: none;
    border-radius: 10px;	
    background-color: #ffffff;
    width: 100%;
    height: 73px;
    outline: none;
    border:none;
    padding-top: 22px;
    padding-bottom: 22px;
}
.oper-moji {
    width: 48px;
    height: 48px;
    margin-right: 25px;
}

.oper-moji img,
.oper-open img {
    width: 100%;
    height: 100%;
}

.oper-open {
    width: 48px;
    height: 48px;
}

.btn-send {
    flex-shrink: 0;
    width: 92px;
    height: 74px;
    background-color: #0084ff;
    border-radius: 10px;
    line-height: 74px;
    font-size: 26px;
    color: #ffffff;
    text-align: center;
}

.moreOper-wrp {
    border-top: 1px solid #dedede;
}


.moreOper-list-wrp {
    padding: 33px 44px 0px 44px;
    display: flex;
    flex-wrap: wrap;
    min-height: 371px;
}

.moreOper-list {
    width: 114px;
    margin-bottom: 33px;
    flex-shrink: 0;
}

.moreOper-list+.moreOper-list {
    margin-left: 51px;
}

.moreOper-list-img {
    width: 114px;
    height: 114px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.moreOper-list-img img {
    width: 52px;
}

.moreOper-list-text {
    text-align: center;
    font-size: 22px;
    color: #777777;
}


/* 表情 */
.emoji-wrp {}

.emoji-list-wrp {
    height: 401px;
    width: 100%;
}

.emoji-swiper {
    width: 750px;
    height: 370px;
}
.emoji-swiper .emoji-swiper-item{
    width:750px;
    height:370px;
}
.emoji-item {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px 10px 10px;
}

.emoji-list {
    width: 70px;
    height: 70px;
    font-size: 0;
}

.emoji-list-margin {
    margin-left: 31px;
}

.emoji-list img {
    width: 100%;
    height: 100%;
}
.chat-msg-loading{
	position: absolute;
	top: 0;
	left:0;
	right:0;
    bottom:0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.chat-msg-loading img{
    width: 80px;
}
.chat-msg-loading-txz img{
    width:150px;
    height: 150px;
}

.prevBox-wrp{
    position:fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,1);
    left: 0;
    top:0;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:100;
    overflow: scroll;
}
.prevBox-wrp-close{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 50%;
    margin-left: -20px;
    border-radius: 50%;
    border: 1px solid #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.prevBox-wrp-video-container{
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;			
}
.prevBox-wrp img{
    width:100%;
}
.prevBox-wrp video{
    width:100%;
}
.volume {
	width: 300px;
	height: 300px;
	padding: 15px 20px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 12px;
	display: flex;
    flex-direction: column;    
    .volume_speak_warn {
        width: 100%;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
        .volume_speak_warn_text {
            color: #ffffff;
            margin-top: 10px;
        }
        
    }
    .volume_top {
        width: 100%;
        height: 220px;
        display: flex;
        justify-content: center;
    }    
    .volume_bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include font_scm(26);
        color: #ffffff;
    }
    .ico_recoding {
        width: 50%;
        background: url("../social/audio2.gif") no-repeat center;
        background-size: 100%;
    }
    .ico_warn {
        width: 48px;
        height: 48px;
        background: url("../social/warn.png") no-repeat center;
        background-size: 100%;
    }    
    .volume_area{
        width: 50%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        span {
            display: inline-block;
            height: 24px;
            border-left: 24px solid rgba(232, 232, 232, 0.2);
            border-right: 2px solid transparent;
            border-top: 24px solid rgba(232, 232, 232, 0.2);
            margin: 5px;
            &:nth-child(1){
                width: 100%;
            }
            &:nth-child(2){
                width: 92%;
            }
            &:nth-child(3){
                width: 84%;
            }
            &:nth-child(4){
                width: 76%;
            }
            &:nth-child(5){
                width: 68%;
            }
            &:nth-child(6){
                width: 60%;
            }
        }       
        .volume_bar {
            border-left: 12px solid #ffffff;
            border-right: 2px solid transparent;
            border-top: 12px solid #ffffff;
        }
        
    }    
}
.volume_mask {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    z-index: 99;
}